.container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}
.slider-single {
  width: 0;
}
.filters {
  margin: auto;
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.input-container {
  position: relative;
}

input {
  height: 50px;
  width: 1100px;
  border-radius: 30px;
  padding-left: 60px;

  border: 2px solid rgb(174, 173, 173);
}

.search-icon {
  position: absolute;
  left: 20px;

  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
.section-title {
  font-size: 28px;
  font-weight: 800;
  margin-left: 130px;

  margin-top: 30px;
}
.carousel {
  margin-top: 60px;
  align-items: center;
}
.arrow-container {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.arrow {
  background-color: rgb(231, 230, 230);
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: 30px;
  flex-wrap: wrap;
  cursor: pointer;
  margin-right: 20px;
}
.dish-container {
  width: 1300px;
  margin: auto;
}
.dish-slider {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}
.dish-item {
  width: 200px;
}
.dish-thumbnail {
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.dish-slider::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
  display: none;
}

.dish-slider::-webkit-scrollbar {
  width: 1px !important;
  height: 10px;
  background-color: #ffffff;
  display: none;
}

.dish-slider::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(255, 80, 16)),
    color-stop(0.72, rgb(222, 47, 20)),
    color-stop(0.86, rgb(196, 53, 21))
  );
}

@media (max-width: 1237px) {
  .filters {
    margin-top: 80px;
  }
  input {
    width: 750px;
  }
}
@media (max-width: 1050px) {
  .filters {
    margin-top: 80px;
  }
  .section-title {
    font-size: 18px;
    font-weight: 600;

    margin-top: 60px;
  }
  input {
    width: 700px;
  }
  .dish-container {
    width: 950px;
  }
}
@media (max-width: 850px) {
  .section-title {
    font-size: 18px;
    font-weight: 600;

    margin-top: 20px;
  }
  .filters {
    margin-top: 90px;
    align-items: center;
  }
  input {
    width: 600px;
  }
  .dish-container {
    width: 800px;
  }
}
@media (max-width: 720px) {
  .section-title {
    font-size: 18px;
    font-weight: 600;

    margin-top: 20px;
  }
  .filters {
    display: flex;
    margin-top: 90px;
    align-items: center;

    margin-bottom: 20px;
    width: auto;
  }
  input {
    width: 400px;
    height: 45px;
  }
  .dish-container {
    width: 500px;
  }
}
@media (max-width: 450px) {
  .section-title {
    font-size: 18px;
    font-weight: 600;

    margin-top: 20px;
  }
  .container {
    padding: 0;
  }
  input {
    width: 200px;
    height: 35px;
  }
  .filters {
    display: flex;
    margin: auto;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
    width: auto;
    margin-top: 90px;
  }
  .dish-container {
    width: 300px;
  }
}
