.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the wave as needed */
  background: linear-gradient(180deg, transparent 60%, #fff 60%, #fff 100%);
  animation: waveFlow 2s linear infinite;
}

@keyframes waveFlow {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

.darkish-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  position: absolute;
  top: 30%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.wrapper {
  width: 800px;
}
.text {
  font-size: 60px;
  color: rgb(238, 238, 238);
  border-right: 5px solid;
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(25), cursor 0.3s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
p {
  margin-left: 300px;
  margin-right: 300px;
}
@media (max-width: 600px) {
  .wrapper {
    width: 400px;
  }

  p {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .comtent {
    width: 400px;
  }
  .text {
    width: 400px;
    font-size: 30px;
  }
  p {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 600px) {
  .comtent {
    width: 300px;
  }
  .text {
    width: 300px;
    font-size: 25px;
  }

  p {
    margin-left: 100px;
    margin-right: 100px;
  }
}
